/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2013, 10:58:55 AM
    Author     : IanM
*/

div {
    border-radius: 5px;
}
#header {
    height: 90px;
    width: 625px;
    border: 2px solid black;
    background-color: darkolivegreen;
    float: left;
    position: static;
    margin: 10px;
}
body {
    background-color: #999966;
    height: 100%;
    width: 100%;
}
#icon {
    float: right;
    position: static;
    height: 80px;
    width: 80px;
    margin: 5px 5px 5px 0px;
}
#nameclass {
    float: left;
    margin-left: 10px;
    font-size: 24px;
    font-family: Verdana, sans-serif;
}
#profilepic {
    border-radius: 10px;
    float: left;
    margin: 10px;
    border: 2px solid black;
    height: 350px;
    width: 250px;
    position: absolute;
    left: 82px;
    top: 115px;
    left: 90px;
}
#stats {
    height: 450px;
    width: 150px;
    background-color: darkolivegreen;
    border: 2px solid black;
    float: left;
    margin: 10px;
    clear: both;
}
.stat {
    margin: 10px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
}
.statdata {
    margin: 10px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}
#equipment {
    width: 450px;
    height: 600px;
    background-color: darkolivegreen;
    margin: 10px;
    float: left;
    border: 2px solid black;
    clear: both;
    position: relative;
    left: 170px;
}
#equiptext {
    font-family: Verdana, sans-serif;
    text-align: center;
    border: 2px solid black;
    font-size: 24px;
}
.bigslot {
    height: 80px;
    width: 80px;
    margin: 2.5px;
    font-family: Verdana, sans-serif;
    background-color: #333300;
    border: 2px solid black;
    font-size: 12px;
    text-align: center;
    float: left;
}
.bigslot:hover {
    background-color: olive;
}
.smallslot:hover {
    background-color: olive;
}
.smallslot {
    height: 40px;
    width: 40px;
    margin: 2.5px;
    font-family: Verdana, sans-serif;
    background-color: #333300;
    border: 2px solid black;
    font-size: 8px;
    text-align: center;
    float: left;
}
#mythirian {
    position: relative;
    left: 60px;
}
#cloak {
    float: right;
}
#helm {
    float: right;
}
#arms {
    clear: both;
}
#gloves {
    float: right;
}
#jewel {
    clear: both;
}
#belt {
    float: right;
}
#lring {
    clear: both;
}
#rring {
    float: right;
}
#lbracer {
    clear: left;
}
#rbracer {
    float: right;
}
#legs {
    clear: left;
}
#feet {
    float: right;
}
#rhand {
    clear: left;
}
.invim {
    z-index: 2;
    display: none;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    height: 350px;
    width: 250px;
}
#chest:hover #pchest,
#pchest:hover {
    display: block;
}
#neck:hover #pneck,
#pneck:hover {
    display: block;
}
#mythirian:hover #pmythirian,
#pmythirian:hover {
    display: block;
}
#cloak:hover #pcloak,
#pcloak:hover {
    display: block;
}
#helm:hover #phelm,
#phelm:hover {
    display: block;
}
#arms:hover #parms,
#parms:hover {
    display: block;
}
#gloves:hover #pgloves,
#pgloves:hover {
    display: block;
}
#jewel:hover #pjewel,
#pjewel:hover {
    display: block;
}
#belt:hover #pbelt,
#pbelt:hover {
    display: block;
}
#lring:hover #plring,
#plring:hover {
    display: block;
}
#rring:hover #prring,
#prring:hover {
    display: block;
}
#lbracer:hover #plbracer,
#plbracer:hover {
    display: block;
}
#rbracer:hover #prbracer,
#prbracer:hover {
    display: block;
}
#legs:hover #plegs,
#plegs:hover {
    display: block;
}
#feet:hover #pfeet,
#pfeet:hover {
    display: block;
}
#rhand:hover #prhand,
#prhand:hover {
    display: block;
}
#lhand:hover #plhand,
#plhand:hover {
    display: block;
}
#twohand:hover #ptwohand,
#ptwohand:hover {
    display: block;
}
#ranged:hover #pranged,
#pranged:hover {
    display: block;
}